.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./public/qwxsd-1@2x.png');
    background-size: cover;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./public/qwxsd-1@2x.png');
    background-size: cover;
    z-index: 1;
  }
  
  .rounds {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .round {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #D3D3D3;

    transition: background-color 0.3s ease;
  }
  
  .blue {
    background-color: #0094F5;
    ;
  }
  