
  
  .dropdown-menu{
    border-radius: var(--br-sm);
    background-color: var(--color-steelblue-300);
   
  }
  
  

  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 80px;
    text-align: center;
    padding: 50px 200px;
  }
  
  .txt {
    font-size: 25px;
    padding: 50px 200px;
    text-align: justify;
    line-height: 30px;
  }
  .aqxc-2-icon,
  .h9-1-icon {
    position: absolute;
    top: 1853px;
    left: 0;
    width: 1556px;
    height: 700px;
    object-fit: cover;
  }
  .bt  {
    height: 60px;
    width: 60px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--color-steelblue-200);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  .fleche{
    height: 40px;
    width: 40px;
    object-fit: cover;
    
    
  }
  .icone {
    width: 50px;
  }
  .liste1 li {
    font-size: large;
  padding-bottom: 60px;
  padding-left: 30px;
  }
  .liste2 li {
    font-size: large;
  padding-bottom: 10px;
  padding-left: 10px;
  }
  #wrapper {
    width: 100%;
    max-width: 964px;
    
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
  }
  
  #prev {
  
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
  
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item {
    width: 180px;
    height: 180px;
    background: green;
  }
  
  .carousel-control-prev-icon,.carousel-control-next,.carousel-indicators{
    filter: invert(100%);
  }
  
  .tg-1-icon {
  
    object-fit: cover;
  }
  .tg-1-icon {
   
    width: 1514px;
    height: 697px;
  }
  .desktop-870-child {
  
    background-color: var(--color-steelblue-200);
  
  }
  
  .nouveaux-branchements2 {
    font-size: var(--font-size-3xl);
    font-family: var(--font-inika);
    color: var(--color-red);
    display: inline-block;
    width: 782px;
    height: 62px;
  }
  
  
  .contactez-nous-container {
  
    font-size: var(--font-size-19xl);
    color: var(--color-black);
  }
  
  
  .crivez-votre-message1,
  .email1,
  .envoyer1,
  .nom1,
  .telephone1 {
  
    font-size: var(--font-size-7xl);
    color: var(--color-black);
  }
  .envoyer1{
    margin-top: 20px;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--color-steelblue-200);
    box-sizing: border-box;
    width: 171px;
    height: 67px;
    margin-left: 80px;
  }
  
  .desktop-870-child6 {
  
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--color-steelblue-200);
    box-sizing: border-box;
    width: 171px;
    height: 67px;
  }
  .sans-titre-2-21 {
  margin-left: 70px;
    width: 110px;
    height: 116px;
    object-fit: cover;
  }
  
  
  .avec-les-amboules-economique-group {
  
    font-family: var(--font-inter);
  }
  .nouveaux-branchements3 {
    font-size: var(--font-size-3xl);
    color: var(--color-red);
    display: inline-block;
    width: 782px;
    height: 62px;
  }
  .mask-group-icon3,
  .sans-titre-3-11 {
    width: 65px;
    height: 65px;
    object-fit: cover;
  }
  .mask-group-icon3 {
    top: 1510px;
    left: 186px;
    width: 340.17px;
    height: 383.64px;
  }
  .desktop-870-child7 {
   
    border-radius: var(--br-9xl);
    background-color: var(--color-powderblue);
    width: 341px;
    height: 142px;
  }
  .mask-group2,
  .mask-group3 {
    top: 0;
    left: -98px;
    width: 340px;
    height: 201px;
  }
  .mask-group2 {
    top: 1509px;
    left: 551px;
    height: 343px;
  }
  .mask-group-icon4,
  .olki-1-icon1 {
    width: 341.17px;
    height: 383.64px;
    object-fit: cover;
  }
  .olki-1-icon1 {
   
    width: 64px;
    height: 64px;
  }
  .facture3 {
    font-size: var(--font-size-3xl);
    color: var(--color-red);
    display: inline-block;
    width: 539px;
    height: 127px;
  }
  .desktop-870-child8 {
    width: 600px;
    height: 310px;
  }
  
  
  .mask-group-icon5 {
    height: 383.64px;
    object-fit: cover;
  }
  .nos-services2 {
  
    font-size: var(--font-size-3xl);
    color: var(--color-red);
    display: inline-block;
    width: 456px;
    height: 46px;
  }
  
  
  .catalogue-du-client1 {
    top: 603px;
    left: 747px;
    font-size: var(--font-size-18xl);
    font-weight: 300;
    width: 1604px;
    height: 75px;
  }
  .rtyuuo-1-icon1 {
    width: 300px;
    height: 300px;
    margin-left: 50px;
  
  }
  
  .desktop-870-child10 {
  
    width: 96px;
    height: 20.51px;
  }
  .apropos2 {
   
    font-size: var(--font-size-10xl);
    display: inline-block;
    font-family: var(--font-inika);
    width: 114px;
  }
  .footer {
    background-color: var(--color-steelblue-300);
   
  }
  .fimg{
    position: relative;
  bottom: 300px;
  left:950px;
    width: 200px;
    height: 100px;
  
  }
  
  .information1,
  .nos-services3,
  .suivez-nous1 {
    font-size: var(--font-size-6xl);
    display: inline-block;
    width: 160px;
  }
  .information1,
  .suivez-nous1 {
    width: 171px;
  }
  .suivez-nous1 {
    top: 2971px;
    left: 1094px;
    width: 163px;
  }
  
  .desktop-870-child12,
  .desktop-870-child13,
  .desktop-870-child14 {
  
    border-right: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 12px;
    height: 323px;
  }
  .dpscstegcomtn80-tunis1,
  .lenergie1,
  .service2 {
    display: inline-block;
    width: 104px;
  }
  
  .dpscstegcomtn80-tunis1 {
  
    text-decoration: underline;
    color: inherit;
    width: 267px;
  }
  .div1,
  .rue-kamel-ataturk1 {
    display: inline-block;
    width: 331px;
  }
  .div1 {
    font-size: var(--font-size-3xl);
    width: 195px;
  }
  .steg-service1 {
    margin: 0;
  }
  .apropos3,
  .steg-service-container1 {
    display: inline-block;
    width: 420px;
  }
  .apropos3 {
    font-size: var(--font-size-6xl);
  
  }
  .ig-19-icon1,
  .ig-20-icon1,
  .tw-10-icon1,
  .yt-10-icon1 {
    width: 50px;
    height: 50px;
  
    display:flex;
  }
  
  
  .dropdown-menu{
    border-radius: var(--br-sm);
    background-color: var(--color-steelblue-300);
   
  }
  .steg-rseau-lectrique-intelli-icon1  {
    width: 540px;
    height: 600px;
    object-fit: cover;
  }
  .abonnement3,
  .accueil3,
  .facture5,.branchements1,
  .compteur3,
  .lnergie1,
  .paiement1,
  .service3 {
    display: inline-block;
    font-size: var(--font-size-3xl);
    padding-left: 50px;
    font-family: var(--font-inika);
    color: #000;
  }
  
  
  
  
  .lnergie1 {
    
    color: var(--color-red);
  
  }
  
  .desktop-870-child16,
  .desktop-870-child17 {
  
    border-top: 3px solid var(--color-steelblue-100);
    
  
    
  }
  
  
  
  
  .icround-search-icon1 {
    width: 35px;
    height: 35px;
    overflow: hidden;
  }
  .la-steg-hier1 {
  margin-top: 50px;
  margin-left: 50px;
    font-size: var(--font-size-16xl);
    font-family: var(--font-dm-serif-text);
    color: var(--color-steelblue-100);
    display: inline-block;
    transform: rotate(-0.06deg);
    transform-origin: 0 0;
  }
  .fontistotoggle-on-icon1 {
    width: 35px;
    height: 35px;
    overflow: hidden;
  }
  .ujiyyy-3-icon1 {
    width: 106px;
    height: 106px;
    object-fit: cover;
  }
  .lorem-ipsum-dolor,
  .title-copy-goes {
    align-self: stretch;
    line-height: 120%;
  }
  .lorem-ipsum-dolor {
    font-size: var(--font-size-lg);
    line-height: 150%;
    color: #212121;
  }
  .get-started {
    line-height: 140%;
    font-weight: 500;
  }
  .ytrr-1-icon {
  
    width: 1462px;
    height: 1104px;
    object-fit: cover;
  }
  
  .desktop-884-child35
{
margin-left: 120px;
margin-top: 50px;
  width: 1235px;
  height: 345px;
  object-fit: cover;
}
  .azgfd-1-icon {
    position: relative;
 
    left: 1239px;
    width: 170px;
    height: 168px;
    object-fit: cover;
  }
  .la-maitrise-de,.div164,.h9-1-icon {

    font-size: var(--font-size-29xl);
    display: inline-block;
  }
  

.desktop-884-child,
.desktop-884-item {
  position: absolute;
  top: 3414px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 1115px;
  height: 75px;
}
.desktop-884-item {
  top: 2960px;
  width: 1108px;
}
.desktop-884-child1,
.desktop-884-child2,
.desktop-884-child3,
.desktop-884-child4,
.desktop-884-inner {
  position: absolute;
  top: 5217px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 869px;
  height: 75px;
}
.desktop-884-child1,
.desktop-884-child2,
.desktop-884-child3,
.desktop-884-child4 {
  top: 6679px;
  width: 780px;
}
.desktop-884-child2,
.desktop-884-child3,
.desktop-884-child4 {
  top: 7043px;
}
.desktop-884-child3,
.desktop-884-child4 {
  top: 7997px;
  width: 969px;
}
.desktop-884-child4 {
  top: 8272px;
  width: 993px;
}
.desktop-884-child5,
.desktop-884-child6,
.desktop-884-child7,
.desktop-884-child8,
.desktop-884-child9 {
  position: absolute;
  top: 10813px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 1022px;
  height: 75px;
}
.desktop-884-child6,
.desktop-884-child7,
.desktop-884-child8,
.desktop-884-child9 {
  top: 12289px;
  width: 993px;
}
.desktop-884-child7,
.desktop-884-child8,
.desktop-884-child9 {
  top: 12975px;
  width: 1205px;
}
.desktop-884-child8,
.desktop-884-child9 {
  top: 13485px;
  width: 497px;
}
.desktop-884-child9 {
  top: 14664px;
  width: 993px;
}

.desktop-884-child10,
.desktop-884-child11,
.desktop-884-child12,
.desktop-884-child13 {
  position: absolute;
  top: 14977px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 695px;
  height: 75px;
}
.desktop-884-child11,
.desktop-884-child12,
.desktop-884-child13 {
  top: 15477px;
  width: 871px;
  height: 126px;
}
.desktop-884-child12,
.desktop-884-child13 {
  top: 10636px;
  width: 993px;
  height: 137px;
}
.desktop-884-child13 {
  top: 5032px;
  width: 1072px;
  height: 145px;
}
.desktop-884-child14,
.desktop-884-child15,
.desktop-884-child16,
.desktop-884-child17,
.desktop-884-child18 {
  position: absolute;
  top: 3075px;
  left: 102px;
  background-color: var(--color-powderblue-100);
  width: 1216px;
  height: 299px;
}
.desktop-884-child15,
.desktop-884-child16,
.desktop-884-child17,
.desktop-884-child18 {
  top: 3529px;
  height: 460px;
}
.desktop-884-child16,
.desktop-884-child17,
.desktop-884-child18 {
  top: 5332px;
  height: 510px;
}
.desktop-884-child17,
.desktop-884-child18 {
  top: 6794px;
  height: 209px;
}
.desktop-884-child18 {
  top: 7158px;
  width: 1235px;
  height: 799px;
}
.desktop-884-child19,
.desktop-884-child20,
.desktop-884-child21,
.desktop-884-child22 {
  position: absolute;
  top: 8112px;
  left: 102px;
  background-color: var(--color-powderblue-100);
  width: 1236px;
  height: 120px;
}
.desktop-884-child20,
.desktop-884-child21,
.desktop-884-child22 {
  top: 8387px;
  height: 700px;
}
.desktop-884-child21,
.desktop-884-child22 {
  top: 10928px;
  height: 1321px;
}
.desktop-884-child22 {
  top: 12404px;
  width: 1238px;
  height: 531px;
}
.desktop-884-child23,
.desktop-884-child24,
.desktop-884-child25,
.desktop-884-child26,
.desktop-884-child27 {
  position: absolute;
  top: 13090px;
  left: 102px;
  background-color: var(--color-powderblue-100);
  width: 1238px;
  height: 355px;
}
.desktop-884-child24,
.desktop-884-child25,
.desktop-884-child26,
.desktop-884-child27 {
  top: 13600px;
  height: 1024px;
}
.desktop-884-child25,
.desktop-884-child26,
.desktop-884-child27 {
  top: 14779px;
  width: 1236px;
  height: 158px;
}
.desktop-884-child26,
.desktop-884-child27 {
  top: 15092px;
  height: 345px;
}
.desktop-884-child27 {
  top: 15643px;
  height: 369px;
}
.ytrr-1-icon {
  position: absolute;
  top: 190px;
  left: 0;
  width: 1462px;
  height: 1104px;
  object-fit: cover;
}
.desktop-884-child28 {
  position: absolute;
  top: 1157px;
  left: -79px;
  background-color: var(--color-powderblue);
  width: 1792px;
  height: 696px;
}
.azgfd-1-icon {
  position: absolute;
  top: 1112px;
  left: 1239px;
  width: 170px;
  height: 168px;
  object-fit: cover;
}
.desktop-884-child29,
.desktop-884-child30,
.desktop-884-child31 {
  position: absolute;
  top: 206px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 47px;
  height: 1080px;
  display: none;
}
.desktop-884-child30,
.desktop-884-child31 {
  left: 1393px;
}
.desktop-884-child31 {
  top: 161px;
  left: 1440px;
  height: 1445px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.aqxc-2-icon,
.h9-1-icon {
  position: absolute;
  top: 1853px;
  left: 0;
  width: 1556px;
  height: 700px;
  object-fit: cover;
}
.h9-1-icon {
  top: 1228px;
  left: 295px;
  width: 65px;
  height: 65px;
}
.div164,
.la-maitrise-de {
  position: absolute;
  font-family: var(--font-inika);
  color: var(--color-crimson-200);
}
.div164 {
  top: 1227px;
  left: 100px;
  font-size: var(--font-size-16xl);
  display: inline-block;
  width: 216px;
}
.la-maitrise-de {
  top: 1224px;
  left: 382px;
  font-size: var(--font-size-29xl);
}
.le-conseiller-pime,
.le-conseiller-pime1 {
  position: absolute;
  top: 2962px;
  left: 100px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.le-conseiller-pime1 {
  top: 3422px;
  left: 113px;
}
.offrir-des-conseils {
  margin: 0;
  
}
.offrir-des-conseils-container {
  position: absolute;
  top: 3240px;
  left: 100px;
 
}

.fournir-linformation-qui-container,
.informer-sur-les-container {
  position: absolute;
  top: 3000px;
  left: 30px;
  white-space: pre-wrap;
}
.informer-sur-les-container {
  top: 3145px;
}
.renseigner-sur-le {
  position: absolute;
  top: 3100px;
  left: 100px;
}
.un-conseil-de-container {
  position: absolute;
  top: 2613px;
  left: 180px;
  font-size: var(--font-size-26xl);
  color: var(--color-steelblue-200);
}
.azertkkk-1-icon {
  position: absolute;
  top: 3560px;
  left: 102px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.azertkkk-13-icon,
.azertkkk-14-icon,
.azertkkk-17-icon,
.azertkkk-9-icon {
  position: absolute;
  top: 3651px;
  left: 102px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.azertkkk-13-icon,
.azertkkk-14-icon,
.azertkkk-17-icon {
  top: 3560px;
  left: 769px;
}
.azertkkk-14-icon,
.azertkkk-17-icon {
  top: 3651px;
}
.azertkkk-17-icon {
  top: 3742px;
}
.azertkkk-10-icon,
.azertkkk-11-icon,
.azertkkk-12-icon,
.azertkkk-18-icon {
  position: absolute;
  top: 3833px;
  left: 769px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.azertkkk-10-icon,
.azertkkk-11-icon,
.azertkkk-12-icon {
  top: 3742px;
  left: 102px;
}
.azertkkk-11-icon,
.azertkkk-12-icon {
  top: 3833px;
}
.azertkkk-12-icon {
  top: 3924px;
}
.leclairage {
  position: absolute;
  top: 3557px;
  left: 155px;
}
.la-climatisation-et-container {
  position: absolute;
  top: 3648px;
  left: 156px;
}
.la-rfrigration-et-container {
  position: absolute;
  top: 3738px;
  left: 158px;
}
.la-cuisson,
.la-machine-container {
  position: absolute;
  top: 3830px;
  left: 155px;
}
.la-machine-container {
  top: 3921px;
}
.les-appareils-lectromnagers-container {
  position: absolute;
  top: 3558px;
  left: 825px;
}
.le-raccordement-au-container {
  position: absolute;
  top: 3647px;
  left: 825px;
}
.le-chauffe-eau-container,
.par-tlphone17 {
  position: absolute;
  top: 3740px;
  left: 825px;
}
.par-tlphone17 {
  top: 3830px;
}
.desktop-884-child32 {
  position: absolute;
  top: 4029px;
  left: 274px;
  border-radius: var(--br-9xl-5);
  background-color: var(--color-skyblue);
  width: 893px;
  height: 67px;
}
.la-maitrise-de1 {
  position: absolute;
  top: 4044px;
  left: 329px;
  display: inline-block;
  width: 783px;
}
.hhh-13-icon2 {
  position: absolute;
  top: 2339px;
  left: 0;
  width: 1143px;
  height: 166px;
  object-fit: cover;
}
.points-dinformations-sur-container {
  position: absolute;
  top: 2355px;
  left: 100px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.le-programme-de-container {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
}
.le-programme-de-prosol-thermiq-wrapper {
  position: absolute;
  top: 5040px;
  left: 101px;
  width: 1066px;
  height: 126px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.comment-dimensionner-votre {
  position: absolute;
  top: 5221px;
  left: 99px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.fournir-linformation-qui-container1,
.offrir-des-conseils-container1 {
  position: absolute;
  top: 5356px;
  left: 100px;
  white-space: pre-wrap;
}
.fournir-linformation-qui-container1 {
  top: 5416px;
  left: 101px;
}
.informer-sur-les1 {
  position: absolute;
  top: 5470px;
  left: 110px;
  display: inline-block;
  width: 1219px;
}
.renseigner-sur-le1 {
  position: absolute;
  top: 5590px;
  left: 99px;
}
.profitez-du-soleil {
  position: absolute;
  top: 4922px;
  left: 180px;
  font-size: var(--font-size-26xl);
  color: var(--color-steelblue-200);
}
.c3333-10-icon2 {
  position: absolute;
  top: 5678px;
  left: 102px;
  width: 43px;
  height: 33.79px;
  object-fit: cover;
}
.c3333-11-icon1,
.un-premier-versement-container {
  position: absolute;
  top: 5675px;
  left: 164px;
}
.c3333-11-icon1 {
  top: 5779px;
  left: 102px;
  width: 43px;
  height: 33.79px;
  object-fit: cover;
}
.azsqw-1-icon,
.un-montant-chelonn4 {
  position: absolute;
  top: 5779px;
  left: 164px;
}
.azsqw-1-icon {
  top: 5880px;
  left: 183px;
  width: 1081px;
  height: 330px;
  object-fit: cover;
}
.nombre-doccupants,
.ou-2 {
  position: absolute;
  top: 5893px;
  left: 215px;
}
.ou-2 {
  top: 5909px;
  left: 482px;
}
.ou-21,
.ou-22,
.ou-23 {
  position: absolute;
  top: 5911px;
  left: 696px;
}
.ou-22,
.ou-23 {
  left: 895px;
}
.ou-23 {
  top: 5915px;
  left: 1110px;
}
.div165,
.div166,
.div167 {
  position: absolute;
  top: 6014px;
  left: 469px;
}
.div166,
.div167 {
  top: 6015px;
  left: 675px;
}
.div167 {
  top: 6122px;
  left: 488px;
}
.volume-ballont-litres-container {
  position: absolute;
  top: 5997px;
  left: 215px;
}
.div168,
.div169,
.surface-capteur-m2-container {
  position: absolute;
  top: 6105px;
  left: 215px;
}
.div168,
.div169 {
  top: 6016px;
  left: 881px;
}
.div169 {
  top: 6020px;
  left: 1099px;
}
.div170,
.div171,
.div172 {
  position: absolute;
  top: 6124px;
  left: 697px;
}
.div171,
.div172 {
  left: 896px;
}
.div172 {
  left: 1117px;
}
.aqsdc-1-icon,
.hhh-4-icon4,
.uiouyy-2-icon {
  position: absolute;
  top: 6253px;
  left: 0;
  width: 1493px;
  height: 420px;
  object-fit: cover;
}
.hhh-4-icon4,
.uiouyy-2-icon {
  top: 4164px;
  width: 1494px;
  height: 697px;
}
.hhh-4-icon4 {
  top: 4647px;
  width: 1195px;
  height: 166px;
}
.promotion-de-lutilisation-container {
  position: absolute;
  top: 4450px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  white-space: pre-wrap;
}
.comment-financer-votre,
.quelles-sont-les8,
.socits-installatrices-agre {
  position: absolute;
  top: 8001px;
  left: 99px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.comment-financer-votre,
.quelles-sont-les8 {
  top: 6686px;
  left: 101px;
}
.comment-financer-votre {
  top: 7049px;
  left: 120px;
}
.une-liste-des-container {
  position: absolute;
  top: 7955px;
  left: 70px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1237px;
}
.c3333-10-icon3 {
  position: absolute;
  top: 6823px;
  left: 103px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-12-icon1,
.client-du-secteur-container {
  position: absolute;
  top: 6825px;
  left: 179px;
}
.c3333-12-icon1 {
  top: 7286px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.paiement-par-facilit-container2 {
  position: absolute;
  top: 7184px;
  left: 177px;
  white-space: pre-wrap;
}
.c3333-13-icon3 {
  position: absolute;
  top: 7705px;
  left: 101px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.paiement-au-comptant-container {
  position: absolute;
  top: 7708px;
  left: 176px;
}
.cot-ces-installttc {
  position: absolute;
  top: 7607px;
  left: 93px;
}
.c3333-11-icon2,
.cot-ces-installttc1 {
  position: absolute;
  top: 7867px;
  left: 93px;
}
.c3333-11-icon2 {
  top: 6903px;
  left: 103px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.client-disposant-dune-container {
  position: absolute;
  top: 6906px;
  left: 179px;
}
.une-subvention-de {
  position: absolute;
  top: 7182px;
  left: 101px;
  display: inline-block;
  width: 1247px;
}
.montant-du-crdit-container,
.un-autofinancement-ventuel-container {
  position: absolute;
  top: 7220px;
  left: 36px;
  white-space: pre-wrap;
}
.montant-du-crdit-container {
  top: 7582px;
  left: 481px;
}
.autofinancement-montant {
  position: absolute;
  top: 7606px;
  left: 489px;
}
.cot-dacquisition-du-container,
.montant-de-la {
  position: absolute;
  top: 7841px;
  left: 508px;
}
.montant-de-la {
  top: 7890px;
  left: 509px;
}
.un-autofinancement-ventuel-container1 {
  position: absolute;
  top: 7320px;
  left: 36px;
  white-space: pre-wrap;
}
.des-frais-de-container,
.un-autofinancement-ventuel-container2 {
  position: absolute;
  top: 7270px;
  left: 36px;
  white-space: pre-wrap;
}
.des-frais-de-container {
  top: 7371px;
  left: 20px;
}
.asqxw-1-icon,
.asqxw-2-icon,
.azeryy-1-icon,
.azeryy-2-icon {
  position: absolute;
  top: 7570px;
  left: 464px;
  width: 29px;
  height: 112px;
  object-fit: cover;
}
.asqxw-2-icon,
.azeryy-1-icon,
.azeryy-2-icon {
  top: 7562px;
  left: 1143px;
  height: 112.03px;
}
.asqxw-2-icon,
.azeryy-2-icon {
  top: 7830px;
  left: 470px;
  height: 112px;
}
.azeryy-2-icon {
  top: 7849px;
  left: 890px;
  height: 112.03px;
}
.quelles-sont-les9 {
  position: absolute;
  top: 8278px;
  left: 100px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.c3333-15-icon1 {
  position: absolute;
  top: 8416px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-16-icon3,
.choisir-un-fournisseur-container {
  position: absolute;
  top: 8418px;
  left: 178px;
}
.c3333-16-icon3 {
  top: 8522px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.choisir-un-installateur-container {
  position: absolute;
  top: 8425px;
  left: 178px;
  white-space: pre-wrap;
}
.c3333-17-icon2 {
  position: absolute;
  top: 8699px;
  left: 101px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.demander-une-offre-container {
  position: absolute;
  top: 8701px;
  left: 176px;
  display: inline-block;
  width: 1161px;
}
.c3333-18-icon {
  position: absolute;
  top: 8805px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.convenir-avec-le-container {
  position: absolute;
  top: 8807px;
  left: 177px;
  white-space: pre-wrap;
}
.c3333-19-icon {
  position: absolute;
  top: 8949px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.dposer-auprs-du-container {
  position: absolute;
  top: 8952px;
  left: 177px;
}
.demander-linstallateur-container {
  position: absolute;
  top: 8430px;
  left: 22px;
  white-space: pre-wrap;
}
.desktop-884-child33 {
  position: absolute;
  top: 9127px;
  left: 100px;
  border-radius: 69px;
  background-color: var(--color-powderblue);
  width: 1238px;
  height: 519px;
}
.lentretien-et-la-container,
.les-frais-de-container {
  position: absolute;
  top: 9154px;
  left: 159px;
  display: inline-block;
  width: 1056px;
}
.les-frais-de-container {
  top: 9359px;
  left: 158px;
  white-space: pre-wrap;
  width: 1071px;
}
.le-programme-de-container1,
.quest-ce-quune {
  position: absolute;
  left: 100px;
  color: var(--color-white);
}
.le-programme-de-container1 {
  top: 10638px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 1056px;
}
.quest-ce-quune {
  top: 10819px;
  font-size: var(--font-size-31xl);
}
.une-installation-photovoltaqu-container {
  position: absolute;
  top: 11018px;
  left: 101px;
}
.un-ensemble-de-container {
  position: absolute;
  top: 10980px;
  left: 38px;
  white-space: pre-wrap;
}
.lnergie-lectrique-produite,
.si-la-production {
  position: absolute;
  top: 11500px;
  left: 101px;
  display: inline-block;
  width: 1208px;
}
.si-la-production {
  top: 11596px;
  width: 1206px;
  height: 147px;
}
.la-diffrence-entre {
  position: absolute;
  top: 11695px;
  left: 100px;
  display: inline-block;
  width: 1238px;
}
.si-la-quantit-container,
.si-la-quantit-container1 {
  position: absolute;
  top: 11660px;
  left: 24px;
  white-space: pre-wrap;
}
.si-la-quantit-container1 {
  top: 11848px;
}
.un-onduleur-transformant-container,
.un-systme-de-container {
  position: absolute;
  top: 11040px;
  left: 38px;
  white-space: pre-wrap;
}
.un-systme-de-container {
  top: 11272px;
}
.profitez-du-soleil1 {
  position: absolute;
  top: 10473px;
  left: 182px;
  font-size: var(--font-size-26xl);
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 1113px;
}
.c3333-10-icon4 {
  position: absolute;
  top: 11460px;
  left: 102px;
  width: 43px;
  height: 33.79px;
  object-fit: cover;
}
.c3333-12-icon2,
.fonctionnement {
  position: absolute;
  top: 11453px;
  left: 165px;
}
.c3333-12-icon2 {
  top: 10957px;
  left: 102px;
  width: 43px;
  height: 33.79px;
  object-fit: cover;
}
.azs-1-icon,
.composition {
  position: absolute;
  top: 10955px;
  left: 165px;
}
.azs-1-icon {
  top: 11759px;
  left: 889px;
  width: 453px;
  height: 461px;
  object-fit: cover;
}
.comment-financer,
.qui-peut-bnficier,
.socits-installatrices-agre1 {
  position: absolute;
  top: 12293px;
  left: 102px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.comment-financer,
.qui-peut-bnficier {
  top: 12979px;
  left: 101px;
}
.comment-financer {
  top: 13489px;
}
.c3333-12-icon3 {
  position: absolute;
  top: 12433px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.production-electrique {
  position: absolute;
  top: 12435px;
  left: 178px;
}
.propritaire-dun-logement-container,
.un-autofinancement {
  position: absolute;
  top: 13192px;
  left: 30px;
  white-space: pre-wrap;
}
.un-autofinancement {
  top: 13758px;
  left: 545px;
}
.paiement-par-facilit-container3 {
  position: absolute;
  top: 13803px;
  left: 547px;
}
.des-frais-de-container1 {
  position: absolute;
  top: 14041px;
  left: 629px;
}
.un-crdit-bancaire-container {
  position: absolute;
  top: 13807px;
  left: 547px;
  white-space: pre-wrap;
}
.demander-une-tude-container,
.propritaire-dun-logement-container1 {
  position: absolute;
  top: 13289px;
  left: 30px;
  white-space: pre-wrap;
}
.demander-une-tude-container {
  top: 12348px;
  display: inline-block;
  width: 1218px;
}
.c3333-19-icon1 {
  position: absolute;
  top: 12650px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.rentabilit {
  position: absolute;
  top: 12653px;
  left: 178px;
  font-size: var(--font-size-11xl);
}
.une-installation-photovoltaqu-container1 {
  position: absolute;
  top: 12724px;
  left: 100px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1238px;
}
.c3333-15-icon2 {
  position: absolute;
  top: 13119px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.tout-client {
  position: absolute;
  top: 13124px;
  left: 178px;
}
.c3333-17-icon3,
.la-puissance-photovoltaque-container {
  position: absolute;
  top: 13386px;
  left: 99px;
}
.c3333-17-icon3 {
  top: 14055px;
  left: 549px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.le-cot-dacquisition-container {
  position: absolute;
  top: 14334px;
  left: 37px;
  white-space: pre-wrap;
}
.paiement-au-comptant1 {
  position: absolute;
  top: 14264px;
  left: 178px;
}
.les-frais-de-container1 {
  position: absolute;
  top: 14399px;
  left: 37px;
  white-space: pre-wrap;
}
.c3333-20-icon {
  position: absolute;
  top: 14259px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.une-subvention-de-container {
  position: absolute;
  top: 13662px;
  left: 547px;
}
.cot-de-linstallationttc {
  position: absolute;
  top: 14162px;
  left: 140px;
  font-size: var(--font-size-11xl);
}
.montant-du-crdit-container1 {
  position: absolute;
  top: 14015px;
  left: 490px;
  white-space: pre-wrap;
}
.asqxw-1-icon1,
.azeryy-1-icon1 {
  position: absolute;
  top: 14145px;
  left: 547px;
  width: 29px;
  height: 112px;
  object-fit: cover;
}
.azeryy-1-icon1 {
  top: 14146px;
  left: 1198px;
  height: 112.03px;
}
.cot-de-linstallationttc1 {
  position: absolute;
  top: 14520px;
  left: 93px;
}
.cot-dacquisition-des-container {
  position: absolute;
  top: 14489px;
  left: 536px;
}
.aaaaaa-1-icon,
.asqxw-2-icon1,
.azeryy-2-icon1 {
  position: absolute;
  top: 14483px;
  left: 491px;
  width: 29px;
  height: 112px;
  object-fit: cover;
}
.aaaaaa-1-icon,
.azeryy-2-icon1 {
  top: 14484px;
  left: 1132px;
  height: 112.03px;
}
.aaaaaa-1-icon {
  top: 13612px;
  left: 42px;
  width: 569px;
  height: 562px;
}
.comment-financer-votre1,
.socits-installatrices-agre2 {
  position: absolute;
  top: 14668px;
  left: 100px;
  font-size: var(--font-size-28xl);
  color: var(--color-white);
}
.comment-financer-votre1 {
  top: 14981px;
  left: 101px;
}
.aprs-installation-et-container {
  position: absolute;
  top: 15483px;
  left: 101px;
  color: var(--color-white);
  white-space: pre-wrap;
}
.une-liste-des-container1 {
  position: absolute;
  top: 14802px;
  left: 101px;
  white-space: pre-wrap;
}
.c3333-12-icon4 {
  position: absolute;
  top: 15121px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-13-icon4,
.choisir-un-fournisseur-container1 {
  position: absolute;
  top: 15124px;
  left: 178px;
}
.c3333-13-icon4 {
  top: 15201px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.demander-une-tude-container1 {
  position: absolute;
  top: 15054px;
  left: 100px;
  white-space: pre-wrap;
}
.c3333-14-icon6 {
  position: absolute;
  top: 15338px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-15-icon3,
.dposer-auprs-du-container1 {
  position: absolute;
  top: 15340px;
  left: 176px;
}
.c3333-15-icon3 {
  top: 15672px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-16-icon4,
.le-certificat-de-container {
  position: absolute;
  top: 15675px;
  left: 176px;
}
.c3333-16-icon4 {
  top: 15752px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-17-icon4,
.le-pv-de-container {
  position: absolute;
  top: 15754px;
  left: 176px;
}
.c3333-17-icon4 {
  top: 15832px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-18-icon1,
.le-contrat-dachat-container {
  position: absolute;
  top: 15835px;
  left: 176px;
}
.c3333-18-icon1 {
  top: 15912px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.le-formulaire-dadhsion-container,
.yyyytt-1-icon {
  position: absolute;
  top: 15915px;
  left: 176px;
}
.yyyytt-1-icon {
  top: 15671px;
  left: 955px;
  width: 363px;
  height: 271px;
  object-fit: cover;
}
.desktop-884-child34 {
  position: absolute;
  top: 15793px;
  left: 1581px;
  background-color: var(--color-gainsboro);
  width: 20px;
  height: 68px;
}
.material-symbolsarrow-circle-icon26 {
  position: absolute;
  top: 9738px;
  left: 620px;
  width: 89px;
  height: 89px;
  overflow: hidden;
}
.desktop-884-child35,
.hhh-3-icon1,
.qwxsd-1-icon {
  position: absolute;
  top: 1343px;
  left: 103px;
  width: 1235px;
  height: 345px;
  object-fit: cover;
}
.hhh-3-icon1,
.qwxsd-1-icon {
  top: 9714px;
  left: 0;
  width: 1696px;
  height: 698px;
}
.hhh-3-icon1 {
  top: 10160px;
  width: 996px;
  height: 166px;
}
.promotion-des-installations-container {
  position: absolute;
  top: 10165px;
  left: 107px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.desktop-884-child38 {
  position: absolute;
  top: 4947px;
  left: 94px;
  border-top: 6px solid var(--color-crimson-100);
  box-sizing: border-box;
  width: 79px;
  height: 6px;
}
.desktop-884-child39 {
  position: absolute;
  top: 4939px;
  left: 165px;
  background-color: var(--color-gainsboro);
  width: 8px;
  height: 20px;
}
.desktop-884-child36 {
  position: absolute;
  top: 2638px;
  left: 86px;
  border-top: 6px solid var(--color-crimson-100);
  box-sizing: border-box;
  width: 79px;
  height: 6px;
}
.desktop-884-child37 {
  position: absolute;
  top: 2630px;
  left: 160px;
  background-color: var(--color-gainsboro);
  width: 8px;
  height: 20px;
}

.desktop-884-child40 {
  position: absolute;
  top: 10498px;
  left: 99px;
  border-top: 6px solid var(--color-crimson-100);
  box-sizing: border-box;
  width: 79px;
  height: 6px;
}
.desktop-884-child41 {
  position: absolute;
  top: 16080px;
  left: -24px;
  background-color: var(--color-steelblue-300);
  width: 1564px;
  height: 446px;
}
.yuuuu-11-icon10 {
  position: absolute;
  top: 16114px;
  left: 1095px;
  width: 243px;
  height: 138px;
  object-fit: cover;
}
.information17,
.nos-services22,
.suivez-nous17 {
  position: absolute;
  top: 16107px;
  left: 524px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-white);
  width: 160px;
}
.information17,
.suivez-nous17 {
  left: 815px;
  width: 171px;
}
.suivez-nous17 {
  top: 16283px;
  left: 1094px;
  width: 163px;
}
.accueil34,
.facture39,
.liens-utiles18,
.mentions-legal17,
.nos-horaire18,
.qui-somme-nous17 {
  position: absolute;
  top: 16162px;
  left: 525px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
  width: 82px;
}
.facture39,
.liens-utiles18,
.mentions-legal17,
.nos-horaire18,
.qui-somme-nous17 {
  left: 816px;
  width: 165px;
}
.facture39,
.liens-utiles18,
.nos-horaire18,
.qui-somme-nous17 {
  top: 16246px;
  width: 159px;
}
.facture39,
.liens-utiles18,
.nos-horaire18 {
  top: 16288px;
}
.facture39,
.nos-horaire18 {
  top: 16204px;
  width: 296px;
}
.facture39 {
  left: 525px;
  width: 84px;
}
.desktop-884-child42,
.desktop-884-child43,
.desktop-884-child44 {
  position: absolute;
  top: 16111.5px;
  left: 505.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 323px;
}
.desktop-884-child43,
.desktop-884-child44 {
  left: 796.5px;
}
.desktop-884-child44 {
  top: 16113.5px;
  left: 1075.5px;
}
.abonnement34,
.compteur34,
.dpannage18,
.service34 {
  position: absolute;
  top: 16289px;
  left: 525px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
  width: 144px;
}
.compteur34,
.dpannage18,
.service34 {
  top: 16246px;
  width: 109px;
}
.dpannage18,
.service34 {
  top: 16331px;
  width: 124px;
}
.service34 {
  top: 16373px;
  left: 524px;
  width: 104px;
}
.lenergie18 {
  top: 16415px;
  left: 524px;
  width: 104px;
}
.apropos24,
.div173,
.dpscstegcomtn80-tunis17,
.lenergie18,
.rue-kamel-ataturk18,
.steg-service-container17 {
  position: absolute;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
}
.dpscstegcomtn80-tunis17 {
  top: 16288px;
  left: 102px;
  text-decoration: underline;
  width: 267px;
}
.apropos24,
.div173,
.rue-kamel-ataturk18,
.steg-service-container17 {
  top: 16331px;
  left: 101px;
  width: 331px;
}
.apropos24,
.div173,
.steg-service-container17 {
  top: 16369px;
  font-size: var(--font-size-3xl);
  width: 195px;
}
.apropos24,
.steg-service-container17 {
  top: 16161px;
  left: 102px;
  font-size: var(--font-size-lg);
  width: 420px;
}
.apropos24 {
  top: 16107px;
  font-size: var(--font-size-6xl);
  width: 114px;
}
.ig-19-icon10,
.ig-20-icon10,
.tw-10-icon10,
.yt-10-icon10 {
  position: absolute;
  top: 16342px;
  left: 1095px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.ig-20-icon10,
.tw-10-icon10,
.yt-10-icon10 {
  left: 1161px;
}
.ig-20-icon10,
.yt-10-icon10 {
  left: 1227px;
}
.yt-10-icon10 {
  top: 16343px;
  left: 1293px;
}
.copyright-steg-service17 {
  position: absolute;
  top: 16474px;
  left: 609px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.abonnement35,
.accueil35,
.facture40 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 82px;
  height: 31.66px;
}
.abonnement35,
.facture40 {
  left: 124px;
  width: 109px;
  height: 32px;
}
.abonnement35 {
  top: 2px;
  left: 248px;
  font-size: var(--font-size-3xl);
  width: 144px;
  height: 31.66px;
}
.branchements17,
.compteur35,
.lnergie17,
.paiement17,
.service35 {
  position: absolute;
  top: 0;
  left: 687px;
  display: inline-block;
  width: 109px;
  height: 31.66px;
}
.branchements17,
.lnergie17,
.paiement17,
.service35 {
  left: 564px;
  width: 124px;
}
.branchements17,
.lnergie17,
.paiement17 {
  left: 420px;
}
.branchements17,
.lnergie17 {
  left: 1037px;
  width: 104px;
}
.branchements17 {
  left: 837px;
  color: var(--color-red);
  width: 162px;
  height: 32px;
}
.accueil-parent14 {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 1141px;
  height: 33.66px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inika);
}

.desktop-884-child46,
.desktop-884-child47 {
  position: absolute;
  top: 147.5px;
  left: -9.5px;
  border-top: 3px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1451px;
  height: 3px;
}
.desktop-884-child47 {
  top: 211.5px;
}
.mdiaccount-icon18,
.streamlineinterface-favorite-icon17 {
  position: absolute;
  top: 63px;
  left: 1224px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.mdiaccount-icon18 {
  top: 61px;
  left: 1261px;
  width: 33px;
  height: 33px;
}
.rechercher17 {
  position: absolute;
  top: 65px;
  left: 957px;
  font-size: var(--font-size-lg);
  font-family: var(--font-inika);
  color: var(--color-gainsboro);
  display: inline-block;
  width: 130px;
  height: 21px;
}
.desktop-884-child48 {
  position: absolute;
  top: 63px;
  left: 1180px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 29px;
  height: 25px;
}
.fr17 {
  position: absolute;
  top: 64px;
  left: 1185px;
  font-size: var(--font-size-mid);
  font-family: var(--font-inika);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 47px;
  height: 51px;
}
.desktop-884-child49 {
  position: absolute;
  top: 57.5px;
  left: 1172.5px;
  border-right: 1px solid var(--color-red);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.desktop-884-child50,
.desktop-884-child51,
.desktop-884-child52,
.desktop-884-child53,
.desktop-884-child54,
.desktop-884-child55 {
  position: absolute;
  top: 57.5px;
  left: 936.5px;
  border-right: 1px solid var(--color-red);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.desktop-884-child51,
.desktop-884-child52,
.desktop-884-child53,
.desktop-884-child54,
.desktop-884-child55 {
  left: 901.5px;
}
.desktop-884-child52,
.desktop-884-child53,
.desktop-884-child54,
.desktop-884-child55 {
  left: 1216.5px;
}
.desktop-884-child53,
.desktop-884-child54,
.desktop-884-child55 {
  left: 1259.5px;
}
.desktop-884-child54,
.desktop-884-child55 {
  left: 1291.5px;
}
.desktop-884-child55 {
  left: 1336.5px;
}
.icround-search-icon17 {
  position: absolute;
  top: 59px;
  left: 906px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.la-steg-hier17 {
  position: absolute;
  top: 51.7px;
  left: 225px;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.01em;
  font-family: var(--font-dm-serif-text);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 714.97px;
  height: 74.17px;
  transform: rotate(-0.06deg);
  transform-origin: 0 0;
}
.fontistotoggle-on-icon17 {
  position: absolute;
  top: 61px;
  left: 1299px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.ujiyyy-3-icon17 {
  position: absolute;
  top: 30px;
  left: 103px;
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.desktop-884-child56 {
  position: absolute;
  top: 2776px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 1216px;
  height: 144px;
}
.la-steg-met-container {
  position: absolute;
  top: 2885px;
  left: 120px;
  color: var(--color-white);
}
.la-steg-met-container1 {
  position: absolute;
  top: 2775px;
  left: 120px;
  color: var(--color-white);
}
.desktop-884 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 16526px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
