.desktop-883-child,
.desktop-883-inner,
.desktop-883-item {
  position: absolute;
  top: 2882px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 858px;
  height: 75px;
}
.desktop-883-inner,
.desktop-883-item {
  top: 3652px;
  width: 795px;
}
.desktop-883-inner {
  top: 5516px;
  width: 443px;
}
.dropdown-menu{
  border-radius: var(--br-sm);
  background-color: var(--color-steelblue-300);
 
}

.abonnement3,
  .accueil3,
  .facture5,.branchements1,
  .compteur3,
  .lnergie1,
  .paiement1,
  .service3 {
    display: inline-block;
    font-size: var(--font-size-3xl);
    padding-left: 50px;
    font-family: var(--font-inika);
    color: #000;
  }
.desktop-883-child1,
.desktop-883-child2,
.desktop-883-child3,
.desktop-883-child4,
.desktop-883-child5 {
  position: absolute;
  top: 8414px;
  left: 102px;
  background-color: var(--color-crimson-100);
  width: 806px;
  height: 75px;
}
.desktop-883-child2,
.desktop-883-child3,
.desktop-883-child4,
.desktop-883-child5 {
  top: 10358px;
  width: 795px;
}
.desktop-883-child3,
.desktop-883-child4,
.desktop-883-child5 {
  top: 8927px;
  width: 1119px;
  height: 136px;
}
.desktop-883-child4,
.desktop-883-child5 {
  top: 7690px;
  width: 763px;
  height: 75px;
}
.desktop-883-child5 {
  top: 4448px;
  width: 1119px;
  height: 134px;
}
.azerty-2-icon {
  position: absolute;
  top: 162px;
  left: 0;
  width: 1545px;
  height: 999px;
  object-fit: cover;
}
.desktop-883-child6 {
  position: absolute;
  top: 1158px;
  left: -99px;
  background-color: var(--color-powderblue);
  width: 1792px;
  height: 861px;
}
.desktop-883-child7 {
  position: absolute;
  top: 930px;
  left: 631px;
  background-color: var(--color-gainsboro);
  width: 74px;
  height: 22px;
}
.desktop-883-child10,
.desktop-883-child11,
.desktop-883-child12,
.desktop-883-child8,
.desktop-883-child9 {
  position: absolute;
  top: 2997px;
  left: 102px;
  background-color: var(--color-powderblue-100);
  width: 1236px;
  height: 615px;
}
.desktop-883-child10,
.desktop-883-child11,
.desktop-883-child12,
.desktop-883-child9 {
  top: 3767px;
  height: 641px;
}
.desktop-883-child10,
.desktop-883-child11,
.desktop-883-child12 {
  top: 5631px;
  width: 1233px;
  height: 358px;
}
.desktop-883-child11,
.desktop-883-child12 {
  top: 6503px;
  width: 1236px;
  height: 254px;
}
.desktop-883-child12 {
  top: 4622px;
  left: 104px;
  width: 1233px;
  height: 854px;
}
.desktop-883-child13,
.desktop-883-child14,
.desktop-883-child15,
.desktop-883-child16 {
  position: absolute;
  top: 7805px;
  left: 102px;
  background-color: var(--color-powderblue-100);
  width: 1236px;
  height: 569px;
}
.desktop-883-child14,
.desktop-883-child15,
.desktop-883-child16 {
  top: 8530px;
  left: 103px;
  height: 357px;
}
.desktop-883-child15,
.desktop-883-child16 {
  top: 10473px;
  left: 102px;
  height: 375px;
}
.desktop-883-child16 {
  top: 11711px;
  height: 325px;
}
.div11 {
  position: absolute;
  top: 4900.15px;
  left: 781.02px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inika);
  display: inline-block;
  width: 410.04px;
  height: 64.77px;
  transform: rotate(50.08deg);
  transform-origin: 0 0;
}
.comment-prsenter-votre {
  position: absolute;
  top: 2890px;
  left: 119px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.selon-votre-choix,
.vous-tes-un {
  position: absolute;
  top: 3010px;
  left: 101px;
}
.vous-tes-un {
  top: 2772px;
  left: 180px;
  font-size: var(--font-size-26xl);
  color: var(--color-steelblue-200);
}
.quelles-sont-les {
  position: absolute;
  top: 3660px;
  left: 120px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.desktop-883-child17,
.ellipse-icon {
  position: absolute;
  top: 3796px;
  left: 103px;
  width: 63px;
  height: 63px;
}
.desktop-883-child17 {
  top: 4099px;
  left: 210px;
}
.div12,
.div13 {
  position: absolute;
  top: 3801px;
  left: 121px;
  font-size: var(--font-size-29xl);
}
.div13 {
  top: 4102px;
  left: 227px;
}
.desktop-883-child18 {
  position: absolute;
  top: 3959px;
  left: 989px;
  width: 63px;
  height: 63px;
}
.div14 {
  position: absolute;
  top: 3963px;
  left: 1008px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 15px;
}
.pice-didentit {
  margin: 0;
}
.pice-didentit-container {
  position: absolute;
  top: 3802px;
  left: 186px;
  font-size: var(--font-size-11xl);
}
.titre-de-proprit-container,
.titre-doccupation {
  position: absolute;
  top: 4112px;
  left: 293px;
}
.titre-de-proprit-container {
  top: 4171px;
}
.contrat-de-vente-container,
.titre-de-proprit-container1 {
  position: absolute;
  top: 4090px;
  left: 213px;
  white-space: pre-wrap;
}
.contrat-de-vente-container {
  top: 4148px;
}
.contrat-de-vente-container1 {
  position: absolute;
  top: 4349px;
  left: 293px;
}
.plan-de-situation-container {
  position: absolute;
  top: 3839px;
  left: 973px;
  font-size: var(--font-size-11xl);
}
.desktop-883-child19 {
  position: absolute;
  top: 3932.5px;
  left: 135.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 648px;
  height: 1px;
}
.desktop-883-child20,
.desktop-883-child21,
.desktop-883-child22 {
  position: absolute;
  top: 4029.5px;
  left: 240.5px;
  box-sizing: border-box;
}
.desktop-883-child20 {
  border-top: 1px solid var(--color-black);
  width: 546px;
  height: 1px;
}
.desktop-883-child21,
.desktop-883-child22 {
  border-right: 1px solid var(--color-black);
  width: 1px;
  height: 70px;
}
.desktop-883-child22 {
  top: 3858.5px;
  left: 135.5px;
  height: 75px;
}
.desktop-883-child23 {
  position: absolute;
  top: 4126.5px;
  left: 903.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 118px;
  height: 1px;
}
.desktop-883-child24 {
  position: absolute;
  top: 4021.5px;
  left: 1021.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 106px;
}
.nbb-5-icon,
.nvvv-5-icon {
  position: absolute;
  top: 3062px;
  left: 101px;
  width: 57px;
  height: 55px;
  object-fit: cover;
}
.nvvv-5-icon {
  top: 3157px;
  left: 100px;
  width: 58px;
  height: 54.73px;
}
.par-tlphone2,
.par-voie-postale-container3 {
  position: absolute;
  top: 3165px;
  left: 175px;
}
.par-tlphone2 {
  top: 3243px;
}
.au-district-ou-container3 {
  position: absolute;
  top: 3066px;
  left: 177px;
}
.le-centre-national-container2 {
  position: absolute;
  top: 3120px;
  left: 167px;
  white-space: pre-wrap;
}
.wwwstegcomtn {
  color: var(--color-steelblue-200);
}
.via {
  color: var(--color-black);
}
.le-site-web-container2 {
  position: absolute;
  top: 3396px;
  left: 176px;
}
.mu-4-icon,
.ss-4-icon,
.tel-4-icon {
  position: absolute;
  top: 3233px;
  left: 100px;
  width: 59px;
  height: 56px;
  object-fit: cover;
}
.mu-4-icon,
.ss-4-icon {
  top: 3312px;
  left: 101px;
  width: 58px;
  height: 55px;
}
.ss-4-icon {
  top: 3390px;
  width: 59px;
  height: 56px;
}
.la-steg-affecte-container {
  position: absolute;
  top: 3384px;
  left: 30px;
  white-space: pre-wrap;
}
.c3333-13-icon {
  position: absolute;
  top: 3481px;
  left: 102px;
  width: 56px;
  height: 43.71px;
  object-fit: cover;
}
.div15,
.div16,
.la-rubrique-demande1 {
  position: absolute;
  display: inline-block;
}
.div15 {
  top: 5055.23px;
  left: 421.35px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inika);
  width: 344.45px;
  transform: rotate(-32.22deg);
  transform-origin: 0 0;
}
.div16,
.la-rubrique-demande1 {
  top: 3478px;
  left: 176px;
  width: 1047px;
}
.div16 {
  top: 4856.51px;
  left: 254.05px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inika);
  width: 359.53px;
  height: 126.93px;
  transform: rotate(49.16deg);
  transform-origin: 0 0;
}
.azertrrr-2-icon {
  position: absolute;
  top: 3890px;
  left: 0;
  width: 1015px;
  height: 586px;
  object-fit: cover;
}
.desktop-883-child25 {
  position: absolute;
  top: 3310px;
  left: 781px;
  border-radius: var(--br-8xl);
  background-color: var(--color-dodgerblue);
  width: 275px;
  height: 64px;
}
.desktop-883-child26 {
  position: absolute;
  top: 12749.5px;
  left: 833.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 388px;
  height: 1px;
}
.desktop-883-child27 {
  position: absolute;
  top: 3310px;
  left: 1005px;
  border-radius: var(--br-8xl);
  border: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 275px;
  height: 64px;
}
.div17,
.n-de-service2 {
  position: absolute;
  top: 3322px;
  left: 792px;
}
.div17 {
  top: 3321px;
  left: 1063px;
}
.suivez-les-tapes {
  position: absolute;
  top: 5522px;
  left: 119px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.desktop-883-child28,
.desktop-883-child29,
.desktop-883-child30 {
  position: absolute;
  top: 4732px;
  left: 103px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 375px;
  height: 94px;
}
.desktop-883-child29,
.desktop-883-child30 {
  top: 5131px;
  left: 177px;
  width: 474px;
  height: 179px;
}
.desktop-883-child30 {
  top: 4651px;
  left: 558px;
  width: 507px;
  height: 218px;
}
.desktop-883-child31 {
  position: absolute;
  top: 4826px;
  left: 176.34px;
  width: 63px;
  height: 63px;
}
.desktop-883-child32,
.desktop-883-child33 {
  position: absolute;
  top: 5067px;
  left: 388px;
  width: 63px;
  height: 63px;
}
.desktop-883-child33 {
  top: 4869px;
  left: 710px;
}
.div18,
.div19,
.div20,
.div21 {
  position: absolute;
  font-size: var(--font-size-29xl);
}
.div18 {
  top: 5201.58px;
  left: 994.7px;
  font-family: var(--font-inika);
  display: inline-block;
  width: 410.49px;
  transform: rotate(-34.35deg);
  transform-origin: 0 0;
}
.div19,
.div20,
.div21 {
  top: 4872px;
  left: 727px;
}
.div20,
.div21 {
  top: 4829px;
  left: 193.34px;
}
.div21 {
  top: 5071px;
  left: 405px;
}
.desktop-883-child34 {
  position: absolute;
  top: 5198.64px;
  left: 983px;
  width: 63px;
  height: 63px;
}
.demande-laccueil-container {
  position: absolute;
  top: 4740px;
  left: 110px;
}
.etude-ralise-par-container,
.paiement-du-devis-container {
  position: absolute;
  top: 5140px;
  left: 191px;
  white-space: pre-wrap;
}
.paiement-du-devis-container {
  top: 4660px;
  left: 580px;
}
.desktop-883-child35,
.desktop-883-child36 {
  position: absolute;
  top: 5262px;
  left: 839px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 395px;
  height: 185px;
}
.desktop-883-child36 {
  top: 4935px;
  left: 974px;
  width: 364px;
  height: 122px;
}
.excution-des-travaux-container {
  position: absolute;
  top: 5270px;
  left: 854px;
}
.mise-en-service-container {
  position: absolute;
  top: 4937px;
  left: 991px;
}
.suivez-les-tapes-container {
  position: absolute;
  top: 4455px;
  left: 120px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.div22 {
  position: absolute;
  top: 5203.64px;
  left: 1000px;
  font-size: var(--font-size-29xl);
}
.desktop-883-child37 {
  position: absolute;
  top: 5057px;
  left: 1187px;
  width: 63px;
  height: 63px;
}
.div23 {
  position: absolute;
  top: 5060px;
  left: 1204px;
  font-size: var(--font-size-29xl);
}
.vous-pouvez-payer-container1 {
  position: absolute;
  top: 5653px;
  left: 103px;
}
.avance-sur-consommation-container,
.produits-financiers-container {
  position: absolute;
  top: 6365px;
  left: 82px;
  white-space: pre-wrap;
}
.produits-financiers-container {
  top: 6660px;
}
.c3333-8-icon,
.paiement-par-facilit-container {
  position: absolute;
  top: 5751px;
  left: 101px;
}
.c3333-8-icon {
  top: 5817px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.un-premier-versement {
  position: absolute;
  top: 5821px;
  left: 176px;
  display: inline-block;
  width: 1162px;
}
.c3333-9-icon {
  position: absolute;
  top: 5916px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.un-montant-chelonn {
  position: absolute;
  top: 5919px;
  left: 176px;
}
.desktop-883-child38 {
  position: absolute;
  top: 6029px;
  left: 103px;
  border-radius: var(--br-38xl);
  background-color: var(--color-lightsteelblue);
  width: 795px;
  height: 434px;
}
.votre-agent-daccueil {
  position: absolute;
  top: 6045px;
  left: 124px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.conseille-sur-la-container,
.propose-lemplacement-et-container {
  position: absolute;
  top: 6117px;
  left: 124px;
  font-size: var(--font-size-5xl);
}
.propose-lemplacement-et-container {
  top: 6197px;
}
.informe-des-modalits-container,
.informe-sur-les,
.renseigne-sur-les {
  position: absolute;
  top: 6278px;
  left: 124px;
  font-size: var(--font-size-5xl);
}
.informe-sur-les,
.renseigne-sur-les {
  top: 6358px;
  left: 123px;
}
.informe-sur-les {
  top: 6411px;
  left: 122px;
}
.aqwx-1-icon {
  position: absolute;
  top: 6029px;
  left: 912px;
  border-radius: var(--br-38xl);
  width: 424px;
  height: 435px;
  object-fit: cover;
}
.avantage2,
.quelles-sont-les1,
.quelles-sont-les2,
.suivez-les-tapes2 {
  position: absolute;
  color: var(--color-white);
  display: inline-block;
  height: 47px;
}
.avantage2 {
  top: 8024px;
  left: 758px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 514px;
}
.quelles-sont-les1,
.quelles-sont-les2,
.suivez-les-tapes2 {
  top: 8419px;
  left: 119px;
  font-size: var(--font-size-31xl);
  width: 898px;
}
.quelles-sont-les2,
.suivez-les-tapes2 {
  top: 8924px;
  left: 120px;
  width: 1097px;
}
.quelles-sont-les2 {
  top: 10364px;
  left: 101px;
  width: 919px;
}
.vous-voulez-bnficier {
  position: absolute;
  top: 7580px;
  left: 180px;
  font-size: var(--font-size-26xl);
  color: var(--color-steelblue-200);
}
.vous-pouvez-payer2 {
  position: absolute;
  top: 10495px;
  left: 103px;
}
.nbb-4-icon,
.nvvv-4-icon {
  position: absolute;
  top: 7833px;
  left: 101px;
  width: 59px;
  height: 57px;
  object-fit: cover;
}
.nvvv-4-icon {
  top: 7930px;
  left: 100px;
  width: 60px;
}
.par-tlphone4,
.par-voie-postale-container4 {
  position: absolute;
  top: 7939px;
  left: 176px;
}
.par-tlphone4 {
  top: 8014px;
}
.au-district-ou-container4 {
  position: absolute;
  top: 7839px;
  left: 178px;
}
.le-centre-national-container3 {
  position: absolute;
  top: 7990px;
  left: 168px;
  white-space: pre-wrap;
}
.le-site-web-container3 {
  position: absolute;
  top: 8170px;
  left: 176px;
}
.mu-3-icon,
.ss-3-icon,
.tel-3-icon {
  position: absolute;
  top: 8006px;
  left: 101px;
  width: 60px;
  height: 57px;
  object-fit: cover;
}
.mu-3-icon,
.ss-3-icon {
  top: 8083px;
  left: 100px;
  width: 61px;
  height: 58px;
}
.ss-3-icon {
  top: 8160px;
}
.la-steg-affecte-container1 {
  position: absolute;
  top: 8150px;
  left: 30px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1063px;
}
.c3333-8-icon1 {
  position: absolute;
  top: 8251px;
  left: 102px;
  width: 56px;
  height: 43.71px;
  object-fit: cover;
}
.la-rubrique-demande2 {
  position: absolute;
  top: 8244px;
  left: 176px;
  display: inline-block;
  width: 1047px;
}
.desktop-883-child39,
.desktop-883-child40 {
  position: absolute;
  top: 8559px;
  left: 104px;
  width: 63px;
  height: 63px;
}
.desktop-883-child40 {
  top: 8681px;
  left: 282px;
}
.div24,
.div25 {
  position: absolute;
  top: 8553px;
  left: 127px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inika);
}
.div25 {
  top: 8676px;
  left: 303px;
}
.pice-didentit-container1 {
  position: absolute;
  top: 8565px;
  left: 187px;
}
.fdqs-3-icon,
.rfrence-de-labonnement {
  position: absolute;
  top: 8693px;
  left: 364px;
}
.fdqs-3-icon {
  top: 8592px;
  left: 1000px;
  width: 237px;
  height: 266px;
  object-fit: cover;
}
.desktop-883-child41,
.desktop-883-child42 {
  position: absolute;
  top: 8664.5px;
  left: 135.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 911px;
  height: 1px;
}
.desktop-883-child42 {
  top: 8780.5px;
  left: 314.5px;
  width: 730px;
}
.desktop-883-child43,
.desktop-883-child44 {
  position: absolute;
  top: 8743.5px;
  left: 314.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.desktop-883-child44 {
  top: 8621.5px;
  left: 135.5px;
  height: 44px;
}
.desktop-883-child45,
.desktop-883-child46,
.desktop-883-child47 {
  position: absolute;
  top: 9103px;
  left: 103px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 419px;
  height: 102px;
}
.desktop-883-child46,
.desktop-883-child47 {
  top: 9534px;
  left: 304px;
  width: 442px;
  height: 96px;
}
.desktop-883-child47 {
  top: 9168px;
  left: 598px;
  width: 466px;
  height: 86px;
}
.desktop-883-child48 {
  position: absolute;
  top: 9206px;
  left: 240px;
  width: 63px;
  height: 63px;
}
.desktop-883-child49,
.desktop-883-child50 {
  position: absolute;
  top: 9471px;
  left: 479px;
  width: 63px;
  height: 63px;
}
.desktop-883-child50 {
  top: 9254px;
  left: 763px;
}
.div26,
.div27 {
  position: absolute;
  font-size: var(--font-size-29xl);
}
.div26 {
  top: 9241.77px;
  left: 312.36px;
  font-family: var(--font-inika);
  display: inline-block;
  width: 315.7px;
  height: 126.93px;
  transform: rotate(47.65deg);
  transform-origin: 0 0;
}
.div27 {
  top: 9456.75px;
  left: 512px;
  width: 344.45px;
  transform: rotate(-38.14deg);
}
.div27,
.div28,
.div29 {
  font-family: var(--font-inika);
  display: inline-block;
  transform-origin: 0 0;
}
.div28 {
  position: absolute;
  top: 9278.66px;
  left: 839.1px;
  font-size: var(--font-size-29xl);
  width: 446.28px;
  transform: rotate(39.89deg);
}
.div29 {
  top: 9850.31px;
  left: 713.3px;
  width: 410.49px;
  transform: rotate(20.66deg);
}
.div29,
.div30,
.div31,
.div32,
.div33 {
  position: absolute;
  font-size: var(--font-size-29xl);
}
.div30 {
  top: 9772.22px;
  left: 1206.27px;
  font-family: var(--font-inika);
  display: inline-block;
  width: 410.49px;
  transform: rotate(124.85deg);
  transform-origin: 0 0;
}
.div31,
.div32,
.div33 {
  top: 9257px;
  left: 781px;
}
.div32,
.div33 {
  top: 9211px;
  left: 258px;
}
.div33 {
  top: 9475px;
  left: 497px;
}
.desktop-883-child51,
.desktop-883-child52 {
  position: absolute;
  top: 9578px;
  left: 1143px;
  width: 63px;
  height: 63px;
}
.desktop-883-child52 {
  top: 9845px;
  left: 642px;
}
.desktop-883-child53,
.desktop-883-child54 {
  position: absolute;
  top: 9726px;
  left: 1142.28px;
  width: 63px;
  height: 63px;
}
.desktop-883-child54 {
  top: 9964px;
  left: 978px;
}
.demande-au-district-container {
  position: absolute;
  top: 9116px;
  left: 116px;
}
.paiement-de-lavance-container {
  position: absolute;
  top: 9543px;
  left: 318px;
}
.mutation-de-labonnement {
  position: absolute;
  top: 9190px;
  left: 613px;
}
.paiement-par-facilit-container1 {
  position: absolute;
  top: 10454px;
  left: 101px;
  white-space: pre-wrap;
}
.crdit-pour-installation-container {
  position: absolute;
  top: 10751px;
  left: 101px;
}
.desktop-883-child55 {
  position: absolute;
  top: 9641px;
  left: 859px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 466px;
  height: 85px;
}
.mutation-de-labonnement1 {
  position: absolute;
  top: 9662px;
  left: 874px;
}
.desktop-883-child56 {
  position: absolute;
  top: 10027px;
  left: 816px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 484px;
  height: 291px;
}
.vrification-de-linstallation-container {
  position: absolute;
  top: 10041px;
  left: 830px;
  white-space: pre-wrap;
}
.desktop-883-child57 {
  position: absolute;
  top: 9826px;
  left: 176px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 466px;
  height: 88px;
}
.mutation-de-labonnement2 {
  position: absolute;
  top: 9850px;
  left: 191px;
}
.div34 {
  top: 9582px;
  left: 1159px;
}
.div34,
.div35,
.div36,
.div37 {
  position: absolute;
  font-size: var(--font-size-29xl);
}
.div35 {
  top: 9719px;
  left: 1162.28px;
  font-family: var(--font-inika);
}
.div36,
.div37 {
  top: 9967px;
  left: 995px;
}
.div37 {
  top: 9849px;
  left: 661px;
}
.c3333-10-icon {
  position: absolute;
  top: 10617px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-12-icon,
.un-montant-chelonn1 {
  position: absolute;
  top: 10621px;
  left: 176px;
}
.c3333-12-icon {
  top: 11734px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.c3333-11-icon,
.un-montant-chelonn2 {
  position: absolute;
  top: 11737px;
  left: 176px;
}
.c3333-11-icon {
  top: 10687px;
  left: 102px;
  width: 56px;
  height: 44px;
  object-fit: cover;
}
.un-montant-chelonn3 {
  position: absolute;
  top: 10691px;
  left: 176px;
}
.desktop-883-child58,
.desktop-883-child59 {
  position: absolute;
  top: 10888px;
  left: 104px;
  border-radius: var(--br-53xl);
  background-color: var(--color-gainsboro);
  width: 612px;
  height: 702px;
}
.desktop-883-child59 {
  left: 726px;
}
.avance-sur-consommation-container1,
.produits-financiers-container1 {
  position: absolute;
  top: 11671px;
  left: 52px;
  white-space: pre-wrap;
}
.produits-financiers-container1 {
  top: 11939px;
}
.desktop-883-child60 {
  position: absolute;
  top: 6945px;
  left: -29px;
  background-color: var(--color-gainsboro);
  width: 47px;
  height: 473px;
}
.hhh-6-icon,
.qsdfg-2-icon {
  position: absolute;
  top: 6815px;
  left: 0;
  width: 1530px;
  height: 703px;
  object-fit: cover;
}
.hhh-6-icon {
  top: 7353px;
  width: 1143px;
  height: 166px;
}
.quest-ce-que1,
.vous-demandez-un-container {
  position: absolute;
  top: 7358px;
  left: 103px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.quest-ce-que1 {
  top: 7696px;
  left: 119px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 832px;
  height: 55px;
}
.conseille-sur-le-container {
  position: absolute;
  top: 10991px;
  left: 139px;
}
.votre-installation-intrieure-container {
  position: absolute;
  top: 10991px;
  left: 771px;
}
.pour-votre-scurit,
.votre-agent-daccueil-container {
  position: absolute;
  top: 10924px;
  left: 208px;
}
.pour-votre-scurit {
  left: 888px;
}
.donne-les-dimensions-container {
  position: absolute;
  top: 11126px;
  left: 139px;
  white-space: pre-wrap;
}
.votre-installation-intrieure-container1 {
  position: absolute;
  top: 11161px;
  left: 771px;
}
.votre-chauffe-eau-ou-container {
  position: absolute;
  top: 11297px;
  left: 771px;
}
.informe-des-modalits-container1 {
  position: absolute;
  top: 11227px;
  left: 139px;
}
.met-votre-container,
.renseigne-sur-les-container {
  position: absolute;
  top: 11369px;
  left: 139px;
}
.met-votre-container {
  top: 11473px;
  white-space: pre-wrap;
}
.desktop-883-child61,
.desktop-883-child62 {
  position: absolute;
  top: 12144px;
  left: 102px;
  background-color: var(--color-white);
  width: 1340px;
  height: 942px;
}
.desktop-883-child62 {
  border-radius: var(--br-39xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 3px 3px 4px rgba(0, 0, 0, 0.25),
    3px 3px 4px rgba(0, 0, 0, 0.25) inset;
  width: 1236px;
}
.desktop-883-child63 {
  position: absolute;
  top: 12981px;
  left: 906px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-steelblue-200);
  box-sizing: border-box;
  width: 248px;
  height: 67px;
}
.demande-un-branchement1,
.valider1 {
  position: absolute;
  top: 12221px;
  left: 832px;
  font-size: var(--font-size-11xl);
  color: var(--color-steelblue-300);
  display: inline-block;
  width: 593px;
  height: 96px;
}
.valider1 {
  top: 12989px;
  left: 963px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inika);
}
.desktop-883-child64 {
  position: absolute;
  top: 12379.5px;
  left: 834px;
  width: 387px;
  height: 1px;
}
.desktop-883-child65,
.desktop-883-child66,
.desktop-883-child67,
.desktop-883-child68,
.desktop-883-child69 {
  position: absolute;
  top: 12473.5px;
  left: 833.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 388px;
  height: 1px;
}
.desktop-883-child66,
.desktop-883-child67,
.desktop-883-child68,
.desktop-883-child69 {
  top: 12562.5px;
}
.desktop-883-child67,
.desktop-883-child68,
.desktop-883-child69 {
  top: 12657.5px;
}
.desktop-883-child68,
.desktop-883-child69 {
  top: 12842.5px;
}
.desktop-883-child69 {
  top: 12935px;
  left: 833px;
  border-top: 2px solid var(--color-black);
  width: 389px;
  height: 2px;
}
.h3-2-icon,
.rr-1-icon {
  position: absolute;
  object-fit: cover;
}
.rr-1-icon {
  top: 12192px;
  left: 118px;
  border-radius: var(--br-39xl);
  width: 596px;
  height: 854px;
}
.h3-2-icon {
  top: 1228px;
  left: 296px;
  width: 65.19px;
  height: 65px;
}
.div38,
.nouveau-branchement {
  position: absolute;
  color: var(--color-crimson-200);
}
.div38 {
  top: 1227px;
  left: 101px;
  font-size: var(--font-size-16xl);
  font-family: var(--font-inika);
  display: inline-block;
  width: 216px;
}
.nouveau-branchement {
  top: 1230px;
  left: 383px;
  font-size: var(--font-size-29xl);
}
.desktop-883-child70 {
  position: absolute;
  top: 1853px;
  left: 501px;
  border-radius: var(--br-8xl);
  background-color: var(--color-crimson-200);
  width: 478px;
  height: 84px;
  cursor: pointer;
}
.demander-un-branchement1 {
  position: absolute;
  top: 1874px;
  left: 513px;
  font-size: var(--font-size-16xl);
  cursor: pointer;
}
.h1-1-icon,
.mask-group-icon13 {
  position: absolute;
  top: 1228px;
  left: 296px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.mask-group-icon13 {
  top: 1343px;
  left: 243px;
  width: 373px;
  height: 345px;
  cursor: pointer;
}
.azert-2-icon,
.hhh-7-icon {
  position: absolute;
  top: 1996px;
  left: 0;
  width: 1639px;
  height: 716px;
  object-fit: cover;
}
.hhh-7-icon {
  top: 2498px;
  width: 1143px;
  height: 166px;
}
.vous-demandez-un-container1 {
  position: absolute;
  top: 2509px;
  left: 101px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.gh-1-icon,
.mask-group-icon14 {
  position: absolute;
  object-fit: cover;
}
.mask-group-icon14 {
  top: 1343px;
  left: 823px;
  width: 373px;
  height: 345px;
  cursor: pointer;
}
.gh-1-icon {
  top: 11630px;
  left: 991px;
  width: 368px;
  height: 253px;
}
.desktop-883-child71 {
  position: absolute;
  top: 2797px;
  left: 99px;
  border-top: 6px solid var(--color-crimson-100);
  box-sizing: border-box;
  width: 79px;
  height: 6px;
}
.desktop-883-child72 {
  position: absolute;
  top: 2789px;
  left: 175px;
  background-color: var(--color-gainsboro);
  width: 8px;
  height: 20px;
}
.desktop-883-child73 {
  position: absolute;
  top: 7606px;
  left: 99px;
  border-top: 6px solid var(--color-crimson-100);
  box-sizing: border-box;
  width: 79px;
  height: 6px;
}
.desktop-883-child74 {
  position: absolute;
  top: 7598px;
  left: 175px;
  background-color: var(--color-gainsboro);
  width: 8px;
  height: 20px;
}
.desktop-883-child75 {
  position: absolute;
  top: 13154px;
  left: -23px;
  background-color: var(--color-steelblue-300);
  width: 1564px;
  height: 446px;
}
.yuuuu-12-icon2 {
  position: absolute;
  top: 13188px;
  left: 1096px;
  width: 243px;
  height: 138px;
  object-fit: cover;
}
.information4,
.nos-services5,
.suivez-nous4 {
  position: absolute;
  top: 13181px;
  left: 525px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-white);
  width: 160px;
}
.information4,
.suivez-nous4 {
  left: 816px;
  width: 171px;
}
.suivez-nous4 {
  top: 13357px;
  left: 1095px;
  width: 163px;
}
.accueil8,
.facture9,
.liens-utiles4,
.mentions-legal4,
.nos-horaire4,
.qui-somme-nous4 {
  position: absolute;
  top: 13236px;
  left: 526px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
  width: 82px;
}
.facture9,
.liens-utiles4,
.mentions-legal4,
.nos-horaire4,
.qui-somme-nous4 {
  left: 817px;
  width: 165px;
}
.facture9,
.liens-utiles4,
.nos-horaire4,
.qui-somme-nous4 {
  top: 13320px;
  width: 159px;
}
.facture9,
.liens-utiles4,
.nos-horaire4 {
  top: 13362px;
}
.facture9,
.nos-horaire4 {
  top: 13278px;
  width: 296px;
}
.facture9 {
  left: 526px;
  width: 84px;
}
.desktop-883-child76,
.desktop-883-child77,
.desktop-883-child78 {
  position: absolute;
  top: 13185.5px;
  left: 506.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 323px;
}
.desktop-883-child77,
.desktop-883-child78 {
  left: 797.5px;
}
.desktop-883-child78 {
  top: 13187.5px;
  left: 1076.5px;
}
.abonnement8,
.compteur8,
.dpannage4 {
  position: absolute;
  top: 13363px;
  left: 526px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
  width: 144px;
}
.compteur8,
.dpannage4 {
  top: 13320px;
  width: 109px;
}
.dpannage4 {
  top: 13405px;
  width: 124px;
}
.lenergie4,
.service8 {
  left: 525px;
  width: 104px;
}
.service8 {
  position: absolute;
  top: 13447px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
}
.lenergie4 {
  top: 13489px;
}
.apropos6,
.div39,
.dpscstegcomtn80-tunis4,
.lenergie4,
.rue-kamel-ataturk4,
.steg-service-container4 {
  position: absolute;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
}
.dpscstegcomtn80-tunis4 {
  top: 13362px;
  left: 103px;
  text-decoration: underline;
  width: 267px;
}
.apropos6,
.div39,
.rue-kamel-ataturk4,
.steg-service-container4 {
  top: 13405px;
  left: 102px;
  width: 331px;
}
.apropos6,
.div39,
.steg-service-container4 {
  top: 13443px;
  font-size: var(--font-size-3xl);
  width: 195px;
}
.apropos6,
.steg-service-container4 {
  top: 13235px;
  left: 103px;
  font-size: var(--font-size-lg);
  width: 420px;
}
.apropos6 {
  top: 13181px;
  font-size: var(--font-size-6xl);
  width: 114px;
}
.ig-21-icon2,
.ig-22-icon2,
.tw-11-icon2,
.yt-11-icon2 {
  position: absolute;
  top: 13416px;
  left: 1096px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.ig-22-icon2,
.tw-11-icon2,
.yt-11-icon2 {
  left: 1162px;
}
.ig-22-icon2,
.yt-11-icon2 {
  left: 1228px;
}
.yt-11-icon2 {
  top: 13417px;
  left: 1294px;
}
.copyright-steg-service4 {
  position: absolute;
  top: 13548px;
  left: 610px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.adresse2,
.cin1,
.code-postale1,
.email3,
.nom2,
.prenom1,
.ville1 {
  position: absolute;
  top: 12337px;
  left: 832px;
  font-size: var(--font-size-11xl);
}
.adresse2,
.cin1,
.code-postale1,
.email3,
.prenom1,
.ville1 {
  top: 12429px;
}
.adresse2,
.cin1,
.code-postale1,
.email3,
.ville1 {
  top: 12516px;
}
.adresse2,
.code-postale1,
.email3,
.ville1 {
  top: 12612px;
  left: 833px;
}
.code-postale1,
.email3,
.ville1 {
  top: 12700px;
  left: 834px;
}
.code-postale1,
.email3 {
  top: 12797px;
  left: 833px;
}
.email3 {
  top: 12885px;
  left: 832px;
}
.desktop-883-child79 {
  position: absolute;
  top: 12275px;
  left: 834px;
  width: 33px;
  height: 33px;
}
.electricit,
.gaz1 {
  position: absolute;
  top: 12273px;
  left: 883px;
  font-size: var(--font-size-11xl);
}
.electricit {
  left: 1072px;
}
.desktop-883-child80 {
  position: absolute;
  top: 12275px;
  left: 1023px;
  width: 33px;
  height: 33px;
}
.abonnement9,
.accueil9,
.facture10 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 82px;
  height: 31.66px;
}
.abonnement9,
.facture10 {
  left: 124px;
  width: 109px;
  height: 32px;
}
.abonnement9 {
  top: 2px;
  left: 248px;
  font-size: var(--font-size-3xl);
  width: 144px;
  height: 31.66px;
}
.branchements4,
.compteur9,
.lnergie4,
.paiement4,
.service9 {
  position: absolute;
  top: 0;
  left: 687px;
  display: inline-block;
  width: 109px;
  height: 31.66px;
}
.branchements4,
.lnergie4,
.paiement4,
.service9 {
  left: 564px;
  width: 124px;
}
.branchements4,
.lnergie4,
.paiement4 {
  left: 420px;
}
.branchements4,
.lnergie4 {
  left: 1037px;
  width: 104px;
}
.branchements4 {
  left: 837px;
  color: var(--color-red);
  width: 162px;
  height: 32px;
}
.accueil-parent1 {
  position: absolute;
  top: 153px;
  left: 150px;
  width: 1141px;
  height: 33.66px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inika);
}
.desktop-883-child81 {
  position: absolute;
  top: 193.5px;
  left: 988.5px;
  border-top: 1px solid var(--color-red);
  box-sizing: border-box;
  width: 159px;
  height: 1px;
}
.desktop-883-child82,
.desktop-883-child83 {
  position: absolute;
  top: 147.5px;
  left: -9.5px;
  border-top: 3px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1451px;
  height: 3px;
}
.desktop-883-child83 {
  top: 211.5px;
}
.mdiaccount-icon4,
.streamlineinterface-favorite-icon4 {
  position: absolute;
  top: 63px;
  left: 1224px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.mdiaccount-icon4 {
  top: 61px;
  left: 1261px;
  width: 33px;
  height: 33px;
}
.rechercher4 {
  position: absolute;
  top: 65px;
  left: 957px;
  font-size: var(--font-size-lg);
  font-family: var(--font-inika);
  color: var(--color-gainsboro);
  display: inline-block;
  width: 130px;
  height: 21px;
}
.desktop-883-child84 {
  position: absolute;
  top: 63px;
  left: 1180px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 29px;
  height: 25px;
}
.fr4 {
  position: absolute;
  top: 64px;
  left: 1185px;
  font-size: var(--font-size-mid);
  font-family: var(--font-inika);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 47px;
  height: 51px;
}
.desktop-883-child85 {
  position: absolute;
  top: 57.5px;
  left: 1172.5px;
  border-right: 1px solid var(--color-red);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.desktop-883-child86,
.desktop-883-child87,
.desktop-883-child88,
.desktop-883-child89,
.desktop-883-child90,
.desktop-883-child91 {
  position: absolute;
  top: 57.5px;
  left: 936.5px;
  border-right: 1px solid var(--color-red);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.desktop-883-child87,
.desktop-883-child88,
.desktop-883-child89,
.desktop-883-child90,
.desktop-883-child91 {
  left: 901.5px;
}
.desktop-883-child88,
.desktop-883-child89,
.desktop-883-child90,
.desktop-883-child91 {
  left: 1216.5px;
}
.desktop-883-child89,
.desktop-883-child90,
.desktop-883-child91 {
  left: 1259.5px;
}
.desktop-883-child90,
.desktop-883-child91 {
  left: 1291.5px;
}
.desktop-883-child91 {
  left: 1336.5px;
}
.icround-search-icon4 {
  position: absolute;
  top: 59px;
  left: 906px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.la-steg-hier4 {
  position: absolute;
  top: 51.7px;
  left: 225px;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.01em;
  font-family: var(--font-dm-serif-text);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 714.97px;
  height: 74.17px;
  transform: rotate(-0.06deg);
  transform-origin: 0 0;
}
.fontistotoggle-on-icon4 {
  position: absolute;
  top: 61px;
  left: 1299px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.ujiyyy-3-icon4 {
  position: absolute;
  top: 30px;
  left: 103px;
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.material-symbolsarrow-circle-icon12 {
  position: absolute;
  top: 4337px;
  left: 1267px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-883-child92,
.desktop-883-child93 {
  position: absolute;
  top: 4358px;
  left: 1326px;
  background-color: var(--color-gainsboro);
  width: 12px;
  height: 43px;
}
.desktop-883-child93 {
  top: 4396px;
  left: 1321px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.material-symbolsarrow-circle-icon13 {
  position: absolute;
  top: 6686px;
  left: 1267px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-883-child94,
.desktop-883-child95 {
  position: absolute;
  top: 6707px;
  left: 1326px;
  background-color: var(--color-gainsboro);
  width: 12px;
  height: 43px;
}
.desktop-883-child95 {
  top: 6745px;
  left: 1321px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.material-symbolsarrow-circle-icon14 {
  position: absolute;
  top: 11965px;
  left: 1267px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-883 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 13600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
